<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/views/categories.css">

  <title>Notez</title>
</head>
<body>
  <header class="page-header">
    <h1 class="title">Notez</h1>
    <div class="actions">
      <a href="notes.html" class="actions__button">Összes jegyzet</a>
    </div>
  </header>

    <header class="category-header">
      <a href="notes.html" class="category-header__button--back">Vissza</a>
      <input type="text" class="category-header__name" placeholder="Kategória neve">
      <input type="color" class="category-header__color-picker">
      <input type="button" value="Hozzáadás" class="category-header__button--add">
    </header>

    <section class="categories">
      
      <div class="category-item">
        <p class="category-item__title">NOTE</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
       
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">TODO</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">TODO</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">TODO</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">NAGYON NAGYON HOSSZÚ KATEGÓRIA NÉV</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">TODO</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">TODO</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">Notes</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->
      
      <div class="category-item">
        <p class="category-item__title">TODO</p>

        <div class="category-item__actions">
          <div class="category-item__icon-wrapper">
            <svg class="category-item__icon category-item__icon--edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19.045 7.401c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.378-.378-.88-.586-1.414-.586s-1.036.208-1.413.585L4 13.585V18h4.413L19.045 7.401zm-3-3 1.587 1.585-1.59 1.584-1.586-1.585 1.589-1.584zM6 16v-1.585l7.04-7.018 1.586 1.586L7.587 16H6zm-2 4h16v2H4z"></path></svg>
          </div>
          <div class="category-item__icon-wrapper category-item__icon-wrapper--delete">
            <svg class="category-item__icon category-item__icon--delete" xmlns="http://www.w3.org/2000/svg" viewBox="3 3 18 18"><path d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z"></path></svg>
          </div>
        </div>
      </div>
      <!-- category end -->

    </section>

</body>
</html>