<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/note_edit.css">

  <title>Notez</title>
</head>
<body>
  <main>
    <header>
      <h2 class="title">Nagyon Nagyon Nagyon Nagyon Nagyon hosszú cím</h2>
      <select name="" id="" class="category-select">
        <option value="" selected disabled>Kategória</option>
        <option value="">kategoria1</option>
        <option value="">kategoria2</option>
        <option value="">kategoria3</option>
        <option value="">kategoria4</option>
        <option value="">kategoria5</option>
        <option value="">kategoria6</option>
      </select>
      <p class="character-count">400000 / 25000</p>
    </header>
    <textarea  resize="false" class="text-input"></textarea>
  </main>
</body>
</html>