<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/notes.css">

  <title>Notez</title>
</head>
<body>
  <header>
    <h1 class="title">Notez</h1>
    <div class="actions">
      <a href="note_edit.html" class="actions__button">Új jegyzet</a>
      <a href="note_edit.html" class="actions__button">Kategóriák kezelése</a>
      <a href="note_edit.html" class="actions__button">Kategóriák szűrése</a>
    </div>
  </header>
  <main>
    

    <section class="notes">
      <div class="note">
        <div class="note-body">
          <p class="note-body__title">Nagyon hosszú cím</p>
          <p class="note-body__creationDate">2023.11.28</p>
          <p class="note-body__modifyDate">2023.12.24</p>
          <div class="note-body__actions">
            <div class="note-body__actions__button"></div>
            <div class="note-body__actions__button"></div>
          </div>
        </div>

        <div class="note-category">
          <p class="note-category__text">kategóriám</p>
        </div>
      </div>
      <div class="note">
        <div class="note-body">
          <p class="note-body__title">Nagyon hosszú cím</p>
          <p class="note-body__creationDate">2023.11.28</p>
          <p class="note-body__modifyDate">2023.12.24</p>
          <div class="note-body__actions">
            <div class="note-body__actions__button"></div>
            <div class="note-body__actions__button"></div>
          </div>
        </div>

        <div class="note-category">
          <p class="note-category__text">kategóriám</p>
        </div>
      </div>

      <div class="note">
        <div class="note-body">
          <p class="note-body__title">Nagyon hosszú cím</p>
          <p class="note-body__creationDate">2023.11.28</p>
          <p class="note-body__modifyDate">2023.12.24</p>
          <div class="note-body__actions">
            <div class="note-body__actions__button"></div>
            <div class="note-body__actions__button"></div>
          </div>
        </div>

        <div class="note-category">
          <p class="note-category__text">kategóriám</p>
        </div>
      </div>

      <div class="note">
        <div class="note-body">
          <p class="note-body__title">Nagyon hosszú cím</p>
          <p class="note-body__creationDate">2023.11.28</p>
          <p class="note-body__modifyDate">2023.12.24</p>
          <div class="note-body__actions">
            <div class="note-body__actions__button"></div>
            <div class="note-body__actions__button"></div>
          </div>
        </div>

        <div class="note-category">
          <p class="note-category__text">kategóriám</p>
        </div>
      </div>
      
    </section>

  </main>
</body>
</html>