@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as var;
@use "./typography";

body {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
}

.page-header {
  background-color: #fff;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 1px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
  }

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
  min-height: 10vh;


  padding: 0em 3em;
  


  text-align: center;

  .title {
    text-transform: uppercase;
    margin-right: 1em;

    @include mixin.mqDown("medium") {
      margin-right: 0em;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;

    gap: 1em;
    
    &__button {
      padding: 0.5em 1em;
      position: relative;
      background-color: #fff;
      //border: 1px solid rgba(0, 0, 0, 0.575);

      border-radius: 10px;
      text-align: center;
      text-transform: lowercase;

      cursor: pointer;
      user-select: none;

      &:link, &:visited, &:hover {
        text-decoration: none;
        color:black;
      }

      &:hover {
        background-color: #8f95b18c;
      }
    }

    @include mixin.mqDown("medium") {
      flex-direction: column;
      &::after {
        left: 25%;
        right: 25%;
      }
    }
  }
  // /actions

  @include mixin.mqDown("medium") {
    flex-direction: column;
    padding-bottom: 2em;
    border: none;

    &::before {
      left: 25%;
      right: 25%;
    }
  }
}


.call-to-action-button {
  border-radius: 0.4em;
  padding:0.8em;
  color: white;
  background-color: #3a70d4;

  text-decoration: none;

  &:link, &:active, &:visited, &:hover {
    color: white;
  }

  &:hover {
    background-color: hsl(219, 58%, 41%);
  }
}