<!-- common -->
<header class="page-header">
  <h1 class="title">Notez</h1>
  <div class="actions">
    <% if (page === "notes") { %>
      <a href="/note/new" class="actions__button">Új jegyzet</a>
      <a href="/categories" class="actions__button">Kategóriák kezelése</a>
      <a href="#" id="modalOpener" class="actions__button">Kategóriák szűrése</a>
    <% } else if (page === "note_edit") { %>
      <a href="/notes" class="actions__button">Összes jegyzet</a>
      <a href="/categories" class="actions__button">Kategóriák kezelése</a>
    <% } else { %>
      <a href="/notes" class="actions__button">Összes jegyzet</a>
    <% } %>
  </div>
</header>