@use "../base/reset";
@use "../base/common";
@use "../abstracts/mixins" as mixin;
@use "../abstracts/variables" as var;

.main--notes {
  margin: 0em auto;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;

  overflow: scroll;



  .notes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    max-width: 80em;

    padding: 2em 2em;

    

    .note {
      position: relative;
      display: flex;
      align-items: center;
   
      border:1px solid black;
      border-bottom: none;

      &:nth-child(1) {
        border-radius: 10px 10px 0px 0px;
      }

      &:last-of-type {
        border-radius: 0px 0px 10px 10px;
        &::before {
          background: none;
        }

        border:1px solid black;
      }

      &:only-child {
        border-radius: 10px;
        border:1px solid black;
        
        &::before {
          background: none;
        }
      }

      overflow: hidden;


      &-body {
        position: relative;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        text-align: left;
  
        padding: 0.5em 1em;
  
        width: 100%;
        height: 100%;

        background-color: #ffffff;
  
        &__title {
          overflow: hidden;
          width: 90%;
          white-space: nowrap;
        }

        &__actions {
          display: flex;
          flex-direction: row;
          justify-content: left;
          align-items: center;
          gap:1em;
  
          &__button { 
            position: relative;

            height: 2.4em;
            width: 2.4em;
            display: flex;
            justify-content: center;
            align-items: center;
            
            border-radius: 10px;
          

            &:hover {
              cursor: pointer;
              &::after {
                content: "";
                position: absolute;
                top: -0.1em;
                left: -0.1em;
                right: -0.1em;
                bottom: -0.1em;


                border-radius: 10px;
                border: 2px solid black;
              }

            }
            &--delete {

              fill: rgb(214, 27, 27);


              &:hover {
                &::after {
                  border: 2px solid rgb(214, 27, 27);
                }
              }
            }

          }
        }
  
        
      }
      // /-body

      &-category {
        width: 10em;

        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 1;

        height: 100%;

        

        box-shadow: -5px 0px 10px  rgba(0, 0, 0, 0.212);

        &__text {
          text-align: center;
        }

        &-filter {
          width: 10em;
          padding:1em 0em;
          display: flex;
          justify-content: center;
          align-items: center;

          position: relative;
          //border: 1px solid rgba(0, 0, 0, 0.575);

          text-align: center;
          text-transform: lowercase;

          user-select: none;


          &__icon {
            position: relative;
            height: 100%;
            height: 2.4em;

            cursor: pointer;
          }

          // p {
          //   border: 2px solid #1d1f17;
          //   border-radius: 10px;
          //   width: 80%;
          //   &:hover {
          //     background-color: #8f95b18c;
          //   }
          // }

         
        }
        // /filter
      }
    }
    //note
  }

}
